/* FOUNDATIONAL STYLES */

@import url('normalize.css');
@import url('reset.css');
@import url('viewport-fix.css');

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@font-face {
    font-family: "swiss911";
    src: url("../fonts/swiss-911-extra-compr9c22f.ttf");
}

@font-face {
    font-family: "helvetica-inserat-lt";
    src: url("../fonts/Helvetica\ Inserat\ LT.ttf");
}

@font-face {
    font-family: "korinna";
    src: url("../fonts/Korinna-Regular.otf");
}


/* COMPONENTS ARE LOADED VIA MAIN.JS */