[data-component~='answer'] {
    padding: var(--answer-padding);
    background-color: var(--jeopardy-blue);
    margin-top: 4px;
    width: 100%;
}

[data-component~='answer'] .price {
    color: var(--price-color);
    text-align: center;
    font-size: calc(100vh/12 - 4vh);
    font-family: 'swiss911';
    text-shadow: 0.3vh 0.3vh 0 black;
}

[data-component~='answer'] .price:before {
    content: "$";
    display: inline-block;
}

[data-component~='answer'] .full-text {
    display: none;
    font-family: 'korinna';
    color: white;
    font-size: 13vh;
    text-align: center;
    line-height: 13vh;
    text-transform: uppercase;
    text-shadow: 1vh 1vh 1vh black;
}

[data-component~='answer'].answered {
    opacity: 0.5;
}

[data-component~='answer']:not(.answered).selected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    z-index: 1;
}

[data-component~='answer']:not(.answered).selected .price {
    display: none;
}

[data-component~='answer']:not(.answered).selected .full-text {
    display: block;
}