[data-component~='column'] {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    border-left: 0.2vw solid black;
    border-right: 0.2vw solid black;
    justify-content: space-between;
}

[data-component~='column'] .header {
    padding: 0 var(--header-padding);
    text-align: center;
    background: var(--jeopardy-blue);
    width: 100%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[data-component~='column'] .header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 2.4vh;
    font-family: 'helvetica-inserat-lt';
    text-transform: uppercase;
    line-height: 2.8vh;
}